/Server/build/
/Server/dist/
/Client/build/
/Client/dist/
*.class
*.properties
project.properties
private.xml
Client/nbproject/private/private.properties
Client/nbproject/private/private.xml
Client/nbproject/project.properties

Server/nbproject/private/private.properties
Server/nbproject/private/private.xml
Server/nbproject/project.properties